h1{
    text-align: center;
}
h2 {
    text-align: center;
    color: blueviolet;
}
p{
    text-align: center;
}
body {
    background-color: darkblue;
}
html {
    scroll-behavior: smooth;
}